<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content" class="content">

        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">
                Pelicula favorita:
            </h2>
            <h4>{{ favorita.title | uppercase }}</h4>
            <h5>{{ favorita.year }}</h5>

            <h6>{{ fecha | date: 'longDate' }}</h6>
            <h6>{{ fecha | espar }}</h6>
        </div>

        <div id="articles" *ngIf="peliculas">

            <div *ngFor="let pelicula of peliculas; 
                         let i = index">

                <app-pelicula
                    [pelicula]="pelicula"
                    (MarcarFavorita)="mostrarFavorita($event)"
                ></app-pelicula>

            </div>
        </div>

    </section>

    <app-sidebar></app-sidebar>

</div>